
<div class=" container" style="margin-bottom: 631px;margin-top: 51px;">
    <div class="text-center text-warning">

        <h1> FORGOT PASSWORD</h1>
    </div>

    <div class="login-container h-25 w-25 mx-auto">
        <form asp-action="ForgotPassword" asp-controller="WebHome" method="post">

            <div class="form-floating col-12">
                <input name="Email" id="Email" class="form-control col-12" placeholder="Email" />
                <label for="Email" id="Email">Email</label>
            </div>
            <br />
            <br />


            <button type="submit" class="btn btn-success form-control col-12">Submit</button>


        </form>
    </div>
</div>