@* @{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1> *@


<div id="privacy-main-container">
    <div class="abb-section text-center">
        <h1 class="text-warning" style="padding-top:30px;padding-bottom:10px">SCOPE INDIA, your career partner!</h1>
        <h2 class="text-white" style="padding-top:15px;padding-bottom:10px;padding-left: 130px;
    padding-right: 130px;">
            One of the best Training Destination for Software, Networking and Cloud Computing courses in India with 17 years of Industrial experience.
        </h2>

        <div class="text-white" style="padding-bottom: 60px;padding-top: 36px;">
            <h6 style="padding-top: 50px;padding-left: 110px;padding-right: 52px;"> Software, Networking, and Cloud Professional Education Centre in Kerala from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, Software Testing Manual and Automation, Cloud Computing (AWS | Azure), Server Administration (MCSE | RHCE), Networking (CCNA), Mobile App Development in Flutter, and Digital Marketing.</h6>
        </div>
        <div id="privacy-course-container">
            <div class="row course-list">
                <h3 class="text-white text-left" style="padding-left: 123px;">Software Programming Courses</h3>
                <div class="row course-container">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Java Full Stack Intership</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Python Full Stack Intership</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>PHP Full Stack Intership</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row course-container">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>.Net Core Full Stack Intership</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>MERN Full Stack Intership</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>MEAN Full Stack Intership</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row course-container">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Android/ios Mobile Application in Google Flutter Intership</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Android/ios Mobile Application in IONIC</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Website Designing Course</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row course-list">
                <h3 class="text-white text-left" style="padding-left: 123px;">Software Testing Courses</h3>
                <div class="row course-container">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Software Testing Advanced Course</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row course-list">
                <h3 class="text-white text-left" style="padding-left: 123px;">Networking, Server, & Cloud</h3>
                <div class="row course-container">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Networking, Server, & Cloud Administration</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>AWS Architect Associate</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Ms Azure Cloud Administrator</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row course-container">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Red Hat Certified System Administrator (RHCSA)</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Red Hat Certified Engineer (RHCE)</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>DevOps Engineer</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row course-list">
                <h3 class="text-white text-left" style="padding-left: 123px;">Other Courses</h3>
                <div class="row course-container">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Data Science</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Data Analytics</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="row" style="padding:10px;">
                            <div class="col-xl-12">
                                <div class="card cssanimation fadeInBotton">
                                    <a href="https://scopeindia.org/images/scope-india-full-stack-offer-feb15-share2024.jpg" target="_blank">
                                        <h6>Digital Marketing Expert</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="privacy-sub-container">


        </div>
            

    </div>


</div>
    
