
@{
    Layout = "_Layout";
}

@if(ViewBag.Session!=null)
{
@model ScopeIndia.Models.UpdatePassword;

<div class="text-warning text-center">
    <h1>
        UPDATE PASSWORD
    </h1>
</div>
<br />
<br />


<form asp-action="UpdatePassword" asp-controller="WebHome" methdo="post" id="Update"></form>
<div class="UpdatePasswordContainer h-50 w-50 mx-auto">

    <table class="mx-auto table-bordered w-100">
        <tr class="text-white text-center text-uppercase fs-5 w-25  p-1">
            <td>
                EXISTING PASSWORD
            </td>
                <td style="padding:50px">
               <input  class="form-control col-4" asp-for="OldPassword" form="Update" />
               <label class="form-label col-4"></label>
            </td>
        </tr>

        <tr class="text-white text-center text-uppercase fs-5 w-25  p-1">
            <td>
                NEW PASSWORD
            </td>
            <td style="padding:50px">
              <input class="form-control col-4" asp-for="NewPassword" form="Update" />
              <label class="form-label col-4"></label>

            </td>
        </tr>
    </table>
    <br />
      
    <div class="ButtonContainer text-center">
      <button type="submit" form="Update" class="col-4 btn-success ">Submit</button>
        </div>
</div>
<div class=" text-center mx-auto">
        @if (ViewBag.Message != null)
        {
            <br />
            <br />
            <p class="text-danger text-center"><b>@ViewBag.PassMessage</b></p>

        }

</div>
<br />
<br /> 



}
else
{
    <p class="text-white">

        @ViewBag.SessionOut

    </p>
}
